@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  background-color: azure;
}
body::-webkit-scrollbar {
  display: none;
}
p {
  font-family: "Times New Roman", Times, serif;
}
